<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <!-- Sidebar Brand (Logo) -->
  <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
    <a class="sidebar-brand brand-logo" href="index.html" style="display: flex;">
      <img src="assets/images/favicon.png" alt="LOGO" style="width: 30px; height: 30px; margin: 0;">
      <h1 class="sidebar-title">niTracker</h1>
    </a>
  </div>

  <!-- Profile Section -->
  <ul class="nav">
    <li class="nav-item profile">
      <div class="profile-desc">
        <div class="profile-pic d-flex align-items-center">
          <div class="count-indicator">
            <img class="img-xs rounded-circle" src="assets/images/faces/face0.jpg" alt="">
            <span class="count bg-success"></span>
          </div>
          <div class="profile-name ml-3">
            <h3 class="mb-0 font-weight-bold">Admin</h3>
          </div>
        </div>
        <a href="" id="profile-dropdown" data-toggle="dropdown" class="profile-options">
          <i class="mdi mdi-dots-vertical"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right sidebar-dropdown" aria-labelledby="profile-dropdown">
          <a class="nav-link dropdown-item" [routerLink]="['/dashboardProf']" routerLinkActive="active">
            <p class="preview-subject ellipsis mb-1 text-small">Professeur</p>
          </a>
          <div class="dropdown-divider"></div>
          <a class="nav-link dropdown-item" [routerLink]="['/dashEtd']" routerLinkActive="active">
            <p class="preview-subject ellipsis mb-1 text-small">Etudiant</p>
          </a>
        </div>
      </div>
    </li>

    <!-- Menu Sections -->
    <li class="nav-item nav-category"><span class="nav-link"></span></li>

    <!-- Dashboard -->
    <li class="nav-item menu-items">
      <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="active">
        <span class="menu-icon"><i class="mdi mdi-speedometer"></i></span>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

    <!-- Utilisateurs -->
    <li class="nav-item menu-items">
      <a class="nav-link" routerLinkActive="active">
        <span class="menu-icon"><i class="mdi mdi-account"></i></span>

        <span class="menu-title">Utilisateurs</span>
        <i class="menu-arrow"></i>
      </a>
      <div id="ui-basic1">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/listeprof']" routerLinkActive="active">
              <i class="bi bi-caret-right-fill"></i> Professeurs
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/listeetud']" routerLinkActive="active">
              <i class="bi bi-caret-right-fill"></i> Etudiants
            </a>
          </li>
        </ul>
      </div>
    </li>

    <!-- Classes -->
    <li class="nav-item menu-items">
      <a class="nav-link" [routerLink]="['/listeclasse']" routerLinkActive="active">
        <span class="menu-icon"><i class="mdi mdi-account-group"></i></span>
        <span class="menu-title" (click)="filterByAnnee(null)">Classes</span>
        <i class="menu-arrow"></i>
      </a>
      <div>
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" (click)="filterByAnnee(1)" routerLinkActive="active" >
              <i class="bi bi-caret-right-fill"></i> 1er Année
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="filterByAnnee(2)" routerLinkActive="active">
              <i class="bi bi-caret-right-fill"></i> 2éme Année
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="filterByAnnee(3)" routerLinkActive="active">
              <i class="bi bi-caret-right-fill"></i> 3éme Année
            </a>
          </li>
        </ul>
      </div>
    </li>

    <!-- Matières -->
    <li class="nav-item menu-items">
      <a class="nav-link" [routerLink]="['/listmatiere']" routerLinkActive="active">
        <span class="menu-icon"><i class="mdi mdi-book-open-variant"></i></span>
        <span class="menu-title" >Matières</span>
        <i class="menu-arrow"></i>
      </a>
      <div>
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" (click)="filterByAnneeMatiere(1)" routerLinkActive="active">
              <i class="bi bi-caret-right-fill"></i> 1er Année
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="filterByAnneeMatiere(2)" routerLinkActive="active">
              <i class="bi bi-caret-right-fill"></i> 2éme Année
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="filterByAnneeMatiere(3)" routerLinkActive="active">
              <i class="bi bi-caret-right-fill"></i> 3éme Année
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item menu-items bottom-item">
      <a class="nav-link" [routerLink]="['/login']">
        <span class="menu-icon"><i class="mdi mdi-logout text-dark"></i></span>
        <span class="menu-title">Déconnexion</span>
      </a>
    </li>
    
  </ul>

</nav>
