hr {
    background-color: white;
}

.table-responsive {
    border: 2px solid #808080; 
    border-radius: 15px; 
}

table {
    background-color: #80808071;
}

th {
    color: white !important;
    text-shadow: 1px 1px 5px #808080 !important;
    font-weight: bolder !important;
    text-align: center;
    border: 1ps;
}

td {
    border: none;
    text-align: center;
    padding: 7px;
    color: #272727;
}

.card {
    border-radius: 15px !important;
    border: 1px solid gray !important;
}

td button {
    text-align: center;
    margin: 0 5px;
}

.bi {
    margin-right: 0;
    padding-right: 0;
}

.content-wrapper{
    background-image: radial-gradient(circle, #5555557a 0.1px, transparent 1px), radial-gradient(circle, #55555580 0.1px, transparent 1px) !important;
    background-size: 20px 20px  !important;
    background-position: 0 0, 10px 10px !important;
    background-attachment: fixed !important;  /* Ensures the background scrolls with the page */
    background-origin: padding-box !important; /* Adjusts the origin for the gradient */
 }