.card {
    border-radius: 15px !important;
    border: 1px solid gray !important;
    padding: 15px;
    width: 520px;
}

.card-title {
    color: #474747;
    font-weight: bold;
}

.form-control {
    background-color: #e5e5e5;
    border: 1px solid #555555;
    color: #474747;
    border-radius: 5px;
    padding: 10px;
    transition: border-color 0.3s ease;
    margin-bottom: 10px;
}

.form-control:focus {
    border-color: #007bff;
    outline: none;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
}

.custom-datetime-dark {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    color: #474747;
    font-size: 16px;
    background-color: #e5e5e5;
}

.custom-datetime-dark:hover,
.custom-datetime-dark:focus {
    border-color: #007bff;
    outline: none;
}

.custom-datetime-dark::-webkit-calendar-picker-indicator {
    background-color: #4a90e2;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group {
    display: flex;
    align-items: left;
}

.form-label {
    flex: 0 0 120px;
    text-align: left;
    margin-right: 10px;
    color: #555555;
}

label {
    font-size: large;
    font-weight: bold;
}

.form-input {
    flex: 5;
}


.content-wrapper{
    background-image: radial-gradient(circle, #5555557a 0.1px, transparent 1px), radial-gradient(circle, #55555580 0.1px, transparent 1px) !important;
    background-size: 20px 20px  !important;
    background-position: 0 0, 10px 10px !important;
    background-attachment: fixed !important;  /* Ensures the background scrolls with the page */
    background-origin: padding-box !important; /* Adjusts the origin for the gradient */
 }