<div class="container-scroller">
    <app-sidebar></app-sidebar>
           <div class="container-fluid page-body-wrapper">
    <app-navbar></app-navbar>
         <div class="main-panel">
           <div class="content-wrapper">
            <div class="dashboard-container">
              <div class="dashboard-card">
                <div class="card-icon">
                  <i class="fas fa-users"></i>
                </div>
                <div class="card-content">
                  <h3>Total Etudiants</h3>
                  <p>{{ totalStudents }}</p>
                </div>
              </div>
            
              <div class="dashboard-card">
                <div class="card-icon">
                  <i class="fas fa-chalkboard-teacher"></i>
                </div>
                <div class="card-content">
                  <h3>Total Professeurs</h3>
                  <p>{{ totalProfessors }}</p>
                </div>
              </div>
            
              <div class="dashboard-card">
                <div class="card-icon">
                  <i class="fas fa-school"></i>
                </div>
                <div class="card-content">
                  <h3>Total Classes</h3>
                  <p>{{ totalClasses }}</p>
                </div>
              </div>
            
              <div class="dashboard-card">
                <div class="card-icon">
                  <i class="fas fa-book"></i>
                </div>
                <div class="card-content">
                  <h3>Total Matieres</h3>
                  <p>{{ totalSubjects }}</p>
                </div>
              </div>
            </div>
            
         </div>
         </div>
       </div>
     </div>