<div class="container-scroller">
  <app-sidebar-etd></app-sidebar-etd>
  <div class="container-fluid page-body-wrapper">
    <app-navbar-etd></app-navbar-etd>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="charts-container">

          <div class="dashboard">
            <h1 class="dashboard-title">Résultats des Taches</h1>
            <div class="charts-container">
              <div class="chart-card" *ngFor="let chart of charts">
                <div class="chart-header">
                  <h3>{{ chart.titre }}</h3>
                  <p>{{ chart.description }}</p>
                </div>
                <canvas id="{{ chart.id }}" width="750" height="160"></canvas>
              </div>
            </div>
          </div>
          

          
      </div>
    </div>
  </div>
</div>
